body {
    background-color: #1a1925;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow: none;
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFC700;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFC700;
}

:root { 
    --default-theme-color: #FFC700;
    --layer-1-bg-color: #353535;
    --border-color: #ffffff6e;
    --box-1-bg-color: #454545;
    --mobile-bg-color: #171717;
}

.mobile {
    margin: auto;
    max-width: 425px;
    background: #171717;
    /* background: linear-gradient(180deg, rgba(195, 221, 151, 1) 1%, rgba(149, 215, 171, 1) 52%, #6dd0b8 100%); */
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;

}

.fist_layer {
    background: var(--layer-1-bg-color);
    /* background: linear-gradient(130deg, rgba(247, 239, 189, 1) 1%, rgba(245, 245, 222, 1) 41%, rgba(244, 250, 244, 1) 100%); */
    border-radius: 25px 25px 0px 0px;
    height: 100vh;
}

.first_layer_home{
    background-color: var(--layer-1-bg-color);
    border-radius: 25px 25px 0px 0px;
    height: auto;
}

.native_ad_slot1 {
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 20px;
}

.option {
    background-color: var(--box-1-bg-color);
    /* border: 2px solid var(--border-color); */
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: black 1px 3px 7px;
}

.ft_area {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--box-1-bg-color);
}

.QA_rules ul {
    text-align: left;
    list-style: disc;
}

.QA_rules ul li {
    margin-top: 8px;
}

.popup_model {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(180deg, rgba(195, 221, 151, 1) 1%, rgba(149, 215, 171, 1) 52%, rgba(109, 208, 184, 1) 100%); */
    background: var(--mobile-bg-color);
    z-index: 10;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Initially hidden */
}

.popup_model.show {
    opacity: 1; /* Make visible */

}

.usr_reward {
    height: 410px;
    width: 450px;
    background: var(--layer-1-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.8); /* Initially smaller */
}

.usr_reward.show {
    transform: scale(1); /* Make normal size */
}


.default_btn {
    background: white;
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid #c0dd99; */
    color: #4b5745;
    font-weight: 700;
    font-size: 15px;
    width: 70%;
}

.q_tile{
    background-color: var(--box-1-bg-color);
    width: 100%;
    border-radius: 15px;
    box-shadow: #000000 4px 4px 8px;
}

.quiz_play_fwd_btn{
    height: 50px;
    width: 50px;
    background: #494949;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    box-shadow: #000000 2px 2px 7px;
}

.entry_fee{
    border-radius: 20px;
    background: #4a4a4a;
    width: 70%;
    max-width: 120px;
}

.bottom_bar{
    max-width: 425px;
}

.user_wallet span{
    background-color: #4a4a4a;    
}

.quiz_cat_tile {
    background-color: var(--box-1-bg-color);
    height: auto;
    min-height: 130px;
    height: auto;
    word-wrap: break-word;
    box-shadow: #000000 2px 6px 9px;
}

.quiz_cat_tile img{
    background-color: #454545;
    box-shadow: #000000 3px 3px 7px;
}

.profile_cirlcle_bg{
    background-color: #F1FAF8;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: black 8px 7px 13px ;
}

.user_coin_show{
    background-color: #F1FAF8;
    height: 40px;
    border-radius: 10px;
    width: 40%;
    color: black;
}


.progress-bar-container {
    width: 290px;
    height: 7px;
    overflow: hidden;
    position: relative;
    background-color: #9b999956;
    border-radius: 15px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(130deg, rgba(247, 239, 189, 1) 1%, rgba(245, 245, 222, 1) 41%, rgba(244, 250, 244, 1) 100%);
    position: absolute;
}

.first_layer_result{
    /* background-color: #F1FAF8; */
    height: 100vh;
    background: var(--layer-1-bg-color);
}

#treasure-popup{
    z-index: 1111;
}   

.adslot_1 { width: 100%; height: 300px }

/* Here's start for media query */
@media only screen and (max-width: 576px) {
    .mobile {
        max-width: 576px;
    }

    .bottom_bar{
        max-width: 576px;
    }

    .usr_reward {
        width: 100%;
        height: 410px;
        margin: 15px;
    }

    /* .adslot_1 { width: 100%; height: 200px; } */
}

@media only screen and (max-width: 440px) {
    .mobile {
        max-width: 440px;
    }

    .bottom_bar{
        max-width: 440px;
    }

    .usr_reward {
        width: 100%;
        height: 410px;
        margin: 15px;

    }

    /* .adslot_1 { width: 100%; height: 200px; } */

}

@media only screen and (max-width: 400px) {
    .mobile {
        max-width: 400px;
    }

    .bottom_bar{
        max-width: 400px;
    }
    /* .adslot_1 { width: 100%; height: 200px; } */
}

@media only screen and (max-width: 360px) {
    .mobile {
        max-width: 360px;
    }
    /* .adslot_1 { width: 100%; height: 200px; } */

}

.adslot_1 { width: 100%; height: 300px }
@media (min-width: 500px) { .adslot_1 { width: 100%; height: 300px; } }
@media (min-width: 800px) { .adslot_1 { width: 100%; height: 300px; } }


/* Pop up for ads show in index page */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1000;
    pointer-events: none;
}

.popup-content {
    position: relative;
    height: auto;
    max-height: 90vh;
    overflow: auto;
    border: 1px solid #888;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
    position: absolute;
    pointer-events: auto;
    z-index: 1001;
}

.close-popup {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    z-index: 1003;
    transition: all 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 640px) {
    .popup-content {
        width: 350px;
    }
}

@media screen and (max-width: 470px) {
    .popup-content {
        width: 100%;
    }
}